log stderr all;

# Turn on global debugging of all protocols (all messages or just selected classes)
debug protocols all;

# Turn on internal watchdog
watchdog warning 5 s;
watchdog timeout 30 s;

router id {{ lookupIP(getenv("HOSTNAME")).1 }};

protocol static {
	ipv4;
{% for vip in ls("/vips") %}
	route {{vip}}/32 blackhole;
{% endfor %}
}

protocol bgp {
	local as 65000;
	neighbor {{ lookupIP("router").0 }} as 65001;
	multihop;
	connect retry time 5;
        ipv4 {
		import none;
		export all;
	};
}
